<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- Source: https://mkyong.com/logging/apache-log4j-2-tutorials/ -->
    <Appenders>
        <!-- Source: https://stackoverflow.com/questions/21979699/log4j-2-adding-multiple-colors-to-console-appender-->
        <Console name="LogToConsole" target="SYSTEM_OUT" follow="true">
            <PatternLayout disableAnsi="false" pattern="%d{HH:mm:ss.SSS} [%t] %highlight{${LOG_LEVEL_PATTERN:-%-5p}}{FATAL=magenta bright, ERROR=red bright, WARN=yellow bright, INFO=green bright, DEBUG=white bright, TRACE=blue bright} %logger{36} %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/app.log" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="LogToSeedFile" fileName="logs/seed.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="LogToReplayFile" fileName="logs/replay.log" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="📡" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="📬" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="📦" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="⏱️" additivity="false" level="all">
<!--            <AppenderRef ref="LogToConsole" level="trace"/>-->
        </Logger>

        <Logger name="⚔️" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🌱" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToSeedFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🎥️" additivity="false" level="all">
            <AppenderRef ref="LogToReplayFile"/>
        </Logger>

        <Logger name="🧭" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="debug"/>
        </Logger>
        <Logger name="💡" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🕵️" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🌎" additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🎵" additivity="false" level="all"/>
        <Logger name="HPA" additivity="false" level="all">
<!--            <AppenderRef level="info" ref="LogToConsole"/>-->
        </Logger>

        <Root additivity="false" level="all">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="trace"/>
        </Root>
    </Loggers>
</Configuration>
