{
 :bot "bothack.bots.mainbot"
 :interface :telnet
 :menubot "bothack.bots.dgl-menu"
 :host "nethack.alt.org"
 :port 23
; :dgl-login "dumbbot"
; :dgl-pass "tops3cr3t"
 :dgl-login "SoggyBuscuit"
 :dgl-pass "R54!HhHOgi@Cc9gl^W8K"
 :dgl-game "pp"
 :ttyrec true
 :no-exit true
}
