<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- Source: https://mkyong.com/logging/apache-log4j-2-tutorials/ -->
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/app.log" append="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="LogToSeedFile" fileName="logs/seed.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="📡" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="📬" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="📦" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>

        <Logger name="⚔️" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🌱" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToSeedFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>

        <Logger name="🧭" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="debug"/>
        </Logger>
        <Logger name="💡" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🕵️" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🌎" level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="info"/>
            <AppenderRef ref="LogToConsole" level="info"/>
        </Logger>
        <Logger name="🎵" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole" level="debug"/>
        </Logger>

        <Root level="debug" additivity="false">
            <AppenderRef ref="LogToFile" level="debug"/>
            <AppenderRef ref="LogToConsole" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
